.main-header{
  background-color: #0197f6;
  margin-bottom: 50px; 
  padding:10px;
}

.header-navigation{
  display: inline-block; 
}

.login-link, .register-link, .logout-link, .header-username{
  color: white; 
  text-decoration: none; 
  margin-left: 20px; 
  font-weight: 800;
  height: 100px;
}

.header-username{
  font-size: 16px;
}

.login-link, .register-link, .logout-link{
  font-size: 18px;  
}


.login-link:hover, .register-link:hover, .logout-link:hover,
.login-link:focus, .register-link:focus, .logout-link:focus{
  border-bottom: 2px solid white;
}

.header-container{ 
  max-width: 1000px; 
  margin: 0 auto;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}


.header-title-link{
  color: white; 
  text-decoration: none; 
  font-weight: 900;
  font-size: 34px; 
  text-align: left; 
}

.header-title{
  margin: 0;
  display: inline-block;
}

.header-title-link:focus, .header-title-link:hover{
  border-bottom: 3px solid white;
}

@media only screen and (max-width: 760px){
  .header-container{
    display: block;
  }

  .header-title{
    display: block; 
  }
  
  .header-navigation{
    display: block;  
  }

  .header-title-link{
    font-size: 30px;
  }

  .header-title{
    margin-bottom: 10px;
  }
}